*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 100%;
  background-color: #121417;
  color: white;
  font-family: 'Overpass', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 2rem;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding: 2.5rem 2rem;
  background-color: #202831;
  border: none;
  border-radius: 1.5rem;
}

.box-container .star-circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2a323c;
}

.box-container .star-circle svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box-container .box-title {
  font-size: 2.4rem;
  color: white;
  font-weight: normal;
}

.box-container .box-text {
  font-size: 1.5rem;
  color: #959eac;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  width: 100%;
  gap: 2.5rem;
}

form .rating-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

form .rating-box .rating-input {
  display: none;
}

form .rating-box .rating-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding-top: 3px;
  border-radius: 50%;
  border: none;
  background-color: #2a323c;
  font-size: 1.5rem;
  color: #959eac;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

form .rating-box .rating-input:checked + .rating-label {
  background-color: #959eac;
  color: white;
}

form .rating-box .rating-input:hover + .rating-label {
  background-color: #fb7413;
  color: white;
}
/*# sourceMappingURL=main.css.map */